@import '../../mixin';

.cang {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 1rem;
    background-color: $bgColor;
    overflow: hidden;
    .cang-select-container {
        display: flex;
        flex-wrap: wrap;
        padding: 40px;
        margin: 20px 0;
        background-color: $lightColor;
        .cang-type {
            padding: 10px;
            margin: 0 20px 20px;
            border: 1px solid $borderColor;
            border-radius: 10px;
            &.active {
                background-color: $primaryColor;
                color: $lightColor;
            }
            .cang-content {
                // @include multi-hide;
            }
        }
    }
}