.zhenyuan {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    .zhenyuan-btn {
        margin: 16px 0;
        height: 1.6rem;
        line-height: 1.6rem;
    }
    .zhenyuan-level-container {
        display: flex;
        margin: 30px 0;
    }
    .zhenyuan-preview-container {
        padding: 0 30px;
        margin-bottom: 20px;
        text-align: right;
        .zhenyuan-preview-text {
            font-size: 30px;
            color: red;
        }
    }
    .zhenyuan-wuxue-container {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
    }
}