.wuxue-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #222426;
    color: #ddd;
    .wuxue-header {
        display: flex;
        align-items: center;
        padding: 20px 10px;
        font-size: 32px;
        .wuxue-close-btn {
            margin-left: auto;
            color: #2196F3;
        }
    }
    .wuxue-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 10px 12px;
        font-size: 32px;
        overflow: hidden;
        .select-container {
            display: flex;
            margin-bottom: 20px;
            .select-item {
                flex: 1;
                .select-trigger {
                    padding: 6px 16px;
                    border-radius: 5px;
                    background-color: #fff;
                    color: #2196F3;
                }
            }
        }
        .scroll-container {
            flex: 1;
            overflow-x: hidden;
            overflow-y: auto;
            .wuxue-trigger {
                &:last-child {
                    margin-bottom: 30px;
                }
            }
        }
    }
}