.baozou-header {
  display: block;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
  background-color: #2196F3;
  color: #fff;
  white-space: nowrap;
}