@import '../../mixin';

.baozou-header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
  background-color: $primaryColor;
  color: $lightColor;
  white-space: nowrap;
  .baozou-icon {
    position: absolute;
    top: 4px;
    right: 20px;
  }
}