$primaryColor: #6e9eea;
$tipColor: #ff0000;
$darkColor: #000;
$subColor: #6d6d72;
$borderColor: #EAEAEA;
$bgColor: #efeff4;
$lightColor: #fff;

// @mixin multi-hide($height: 40px, $line: 2) {
//   height: $height;
//   overflow: hidden;
//   box-sizing: border-box;
//   display: -webkit-box;
//   word-break: break-all;
//   text-overflow: ellipsis;
//   -webkit-box-orient: vertical;
//   -webkit-line-clamp: $line;
// }