$primaryColor: #6e9eea;
$tipColor: #ff0000;
$darkColor: #000;
$subColor: #6d6d72;
$borderColor: #EAEAEA;
$bgColor: #efeff4;
$lightColor: #fff;

@mixin limit-width($width: '100%') {
  width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}