.at-switch {
    margin: 0;
    padding: 10px;
    background-color: inherit;
    .at-switch__title {
        color: #ddd;
    }
    .at-switch__container {
        background-color: inherit;
        .at-switch__switch {
            width: 100px;
            height: 56px;
            border-radius: 32px;
            &::after {
                width: 54px;
                height: 52px;
            }
        }
    }
}

.at-tabs {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.at-tabs__body {
    flex-grow: 1;
}
.at-tabs--scroll .at-tabs__header {
    overflow-x: unset;
}

.at-tag {
    padding: 0 20px;
}

at-tabs-pane {
    display: flex;
    height: 100%;
}
at-icon {
    flex: 1;
    .at-icon-trash {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}
zhen-yuan {
    display: flex;
    flex-direction: column;
    height: 100vh;
}